.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.sd-logo {
  width: 600px;
}

.hello {
  flex-direction: column;
  text-align: center;
}

.mongodb {
  margin-top: 10vh;
  font-size: 22px;
  flex-direction: column;
  max-width: 600px;
}

.results {
  margin-top: 1vh;
  font-size: 15px;
  padding: 10px;
  border: 5px solid #fff;
  width: 100%;
  height: 400px;
  overflow: auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

span > a {
  color: bisque;
}
